* {
  margin: 0;
  /* box-sizing: border-box; */
  font-family: "Nunito Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(0, 0, 0, 0.979);
  color: white;
}
.layout {
  max-width: 1240px;
  margin: auto;
}
header,
section {
  padding-inline: 20px;
}
header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 10;
}
.logo-container {
  max-width: 110px;
}

.logo-container img {
  width: 100%;
}

.logo-container h4 {
  font-size: 12px;
  margin-top: -28px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 600;
}

.navbar .nav a + a {
  margin-left: 20px;
}
.md-nav {
  display: none;
}
.navbar .hamburger-menu {
  color: inherit;
  background-color: inherit;
  outline: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
  display: none;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin-inline: auto;
}

.hero-container h1 {
  font-size: 5rem;
  font-family: "New Amsterdam", sans-serif;
}
.hero {
  scroll-margin-top: 100px;
  margin-top: -100px;
  padding-top: 100px;
  /* padding-bottom: 100px; */
  background-image: url(./images/hero-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.hero-shoe {
  max-width: 600px;
}
.hero-shoe img {
  width: 100%;
}

.hero-container.md {
  display: none;
}

/* How it works */
.how-it-works {
  display: block;
  scroll-margin-top: 100px;
}
.how-it-works-md {
  scroll-margin-top: 100px;
  display: none;
}
.how-it-works {
  margin-block: 20px;
  position: relative;
}
.how-it-works h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  flex-shrink: 0.3;
}

.how-it-works .shoe-info {
  max-width: 600px;
  margin-inline: auto;
}

.shoe-info img {
  width: 100%;
}

.how-it-works .heel-info,
.how-it-works .front-info,
.how-it-works .traction-info {
  max-width: 150px;
  position: absolute;
}

.how-it-works .heel-info h1,
.how-it-works .front-info h1,
.how-it-works .traction-info h1 {
  font-size: 1.5rem;
  text-align: left;
}
.how-it-works .heel-info p,
.how-it-works .front-info p,
.how-it-works .traction-info p {
  font-size: 12px;
}

.how-it-works .heel-info {
  top: 15%;
  left: 5%;
}

.how-it-works .heel-info img {
  transform: translate(20%, -5%);
}

.how-it-works .front-info {
  top: 5%;
  right: 10%;
}

.how-it-works .front-info img {
  transform: translate(-90%, 50%);
}

.how-it-works .traction-info {
  bottom: -5%;
  left: 25%;
}
.how-it-works .traction-info img {
  transform: translate(40%, 40%);
}

/* about us */
.about-container {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  scroll-margin-top: 100px;
}

.about-shoe {
  flex-shrink: 0;
  background-image: url(./images/aboutus-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 600px;
  overflow: hidden;
}
.about-shoe img {
  width: 100%;
  max-height: 100vh;
  margin-inline: 30px;
}
.about-us {
  max-width: 500px;
  padding-inline: 40px;
}
.about-container h1 {
  display: none;
  font-size: 3rem;
  font-weight: 800;
}
.about-us h1 {
  display: block;
  font-size: 3rem;
  font-weight: 800;
}
.about-us p {
  font-size: 1rem;
  padding-block: 12px;
}

/* Testimonials */

.testimonials {
  margin-block: 20px;
  background-image: url(./images/testimonial-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 100px;
}

.testimonials h1 {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.testimonials .persons-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin-block: 20px;
}

.persons-container .person {
  max-width: 200px;
}

.persons-container .person .photo-container {
  max-width: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-inline: auto;
}
.photo-container img {
  width: 100%;
}

.person p {
  font-size: 14px;
  text-align: center;
}

/* footer */
#contact-us {
  display: flex;
  flex-direction: row;
  margin-block: 20px;
  justify-content: space-between;
  align-items: center;
  scroll-margin-top: 100px;
}
.contact {
  margin-left: 60px;
  margin-right: 20px;
}

.contact h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact p {
  margin-bottom: 10px;
  max-width: 150px;
  font-size: 1rem;
}

.icon-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon-container img {
  max-width: 30px;
}

.map {
  max-height: 600px;
}

/* made by */
.made-by {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  max-width: 400px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-img {
  max-width: 80px;
}

.footer-img img {
  width: 100%;
}

@media (min-width: 1024px) {
  .navbar .nav a {
    font-size: 24px;
  }
  .hero {
    margin-top: -150px;
    padding-top: 150px;
  }
}

@media (max-width: 950px) {
  /* how it works */
  .how-it-works h1 {
    font-size: 1.5rem;
  }
  .how-it-works .shoe-info {
    max-width: 400px;
  }

  .how-it-works .heel-info h1,
  .how-it-works .front-info h1,
  .how-it-works .traction-info h1 {
    font-size: 1.2rem;
    text-align: left;
  }
  .how-it-works .heel-info p,
  .how-it-works .front-info p,
  .how-it-works .traction-info p {
    font-size: 10px;
  }

  .how-it-works .heel-info img,
  .how-it-works .front-info img,
  .how-it-works .traction-info img {
    max-width: 80%;
  }
  .how-it-works .front-info {
    top: 5%;
    right: calc(100vw - 90%);
  }
}

@media (max-width: 900px) {
  /* about */
  .about-shoe img {
    width: 100%;
    max-height: 80vh;
    margin-inline: 30px;
  }
  .about-us h1 {
    font-size: 2rem;
    font-weight: 800;
  }
  .about-us p {
    font-size: 12px;
    padding-block: 12px;
  }

  /* footer */
  .contact {
    margin-left: 30px;
  }
  .contact h1 {
    font-size: 2rem;
  }

  iframe {
    max-width: 400px;
  }
}

@media (max-width: 770px) {
  .navbar .nav {
    display: none;
  }
  .navbar .md-nav {
    position: absolute;
    background-color: #f8f3f320;
    backdrop-filter: blur(12px);
    flex-direction: column;
    padding: 10px 20px 20px;
    top: 30px;
    right: 20px;
    z-index: 0;
    display: none;
    cursor: pointer;
  }
  .md-nav a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
  }
  .md-nav a + a {
    padding-top: 5px;
  }

  .md-nav .cross {
    outline: none;
    border: none;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
  }
  .navbar .hamburger-menu {
    display: flex;
  }

  .hero {
    max-height: 160vh;
    padding-bottom: 200px;
    margin-top: 0;
    padding-top: 20px;
    background-image: url(./images/md-bg-hero.png);
    background-position-y: 150%;
  }
  .hero-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-container h1 {
    font-size: 4rem;
    padding-left: 60px;
  }

  /* how it works */
  .how-it-works .shoe-info img {
    margin-top: 30%;
    transform: rotate(15deg);
  }
  .how-it-works .heel-info img,
  .how-it-works .front-info img,
  .how-it-works .traction-info img {
    max-width: 80%;
  }
  .how-it-works .heel-info {
    top: 25%;
    left: 5%;
  }
  .how-it-works .heel-info img {
    transform: translate(20%, -5%) rotate(20deg);
  }
  .how-it-works .front-info {
    top: 40px;
    right: calc(100vw - 90%);
  }

  .how-it-works .front-info img {
    transform: translate(-20%, 175%) rotate(130deg);
  }

  /* testimonial */
  .testimonials h1 {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  /* about us */
  .about-container {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-shoe img {
    width: 100%;
    max-height: 80vh;
    margin-inline: 30px;
  }
  .about-us {
    max-width: 500px;
    padding-inline: 40px;
  }
  .about-container h1 {
    display: flex;
  }
  .about-us h1 {
    display: none;
  }
  .about-us p {
    font-size: 12px;
    max-width: 400px;
    padding-block: 12px;
  }
  .about-us p:nth-child(odd) {
    display: none;
  }
  /* testimonial */
  .testimonials h1 {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .persons-container .person {
    max-width: 100px;
  }
  .person p {
    font-size: 10px;
  }
  /* footer */
  #contact-us {
    flex-direction: column;
  }
  .contact {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .contact h1 {
    font-size: 2rem;
  }

  iframe {
    max-width: 400px;
  }
}

@media (max-width: 430px) {
  .hero {
    max-height: 100vh;
    padding-bottom: 200px;
    background-position-y: 120%;
  }
  .hero-container h1 {
    font-size: 3rem;
    padding-left: 30px;
  }
  /* how it works */
  .how-it-works {
    overflow: hidden;
  }
  .how-it-works .shoe-info img {
    margin-top: 50%;
    margin-bottom: 20%;
    transform: rotate(25deg);
  }
  .how-it-works .heel-info img,
  .how-it-works .front-info img,
  .how-it-works .traction-info img {
    max-width: 80%;
  }
  .how-it-works .heel-info {
    top: 15%;
    left: 5%;
  }
  .how-it-works .heel-info img {
    transform: translate(-20%, 15%) rotate(70deg);
  }
  .how-it-works .front-info {
    top: 60px;
    right: 10px;
  }

  .how-it-works .front-info img {
    transform: translate(-10%, 175%) rotate(130deg);
  }
  .how-it-works .traction-info {
    bottom: 5px;
    left: 10%;
  }
  .how-it-works .traction-info img {
    transform: translate(60%, 50%);
  }
  /* testimonial */
  .testimonials .persons-container {
    flex-direction: column;
    margin-inline: auto;
  }
  .testimonials h1 {
    font-size: 1rem;
  }

  .persons-container .person {
    max-width: 200px;
    margin-top: 10px;
  }
  .person p {
    font-size: 10px;
  }

  /* footer */

  iframe {
    max-width: 300px;
  }
}
@media (max-width: 376px) {
  .hero {
    max-height: 90vh;
    padding-bottom: 200px;
    background-position-y: 100%;
  }
  /* how it works */

  .how-it-works {
    overflow: hidden;
  }
  .how-it-works h1 {
    font-size: 1rem;
  }
  .how-it-works .heel-info h1,
  .how-it-works .front-info h1,
  .how-it-works .traction-info h1 {
    font-size: 1rem;
    text-align: left;
  }
  .how-it-works .heel-info p,
  .how-it-works .front-info p,
  .how-it-works .traction-info p {
    font-size: 10px;
  }
  .how-it-works .heel-info img,
  .how-it-works .front-info img,
  .how-it-works .traction-info img {
    max-width: 60%;
  }

  .how-it-works .heel-info img {
    transform: translate(-20%, 0%) rotate(60deg);
  }
  .how-it-works .front-info {
    top: 30px;
    right: 0px;
  }

  .how-it-works .front-info img {
    transform: translate(0%, 185%) rotate(130deg);
  }
  .how-it-works .traction-info {
    bottom: 5px;
    left: 10%;
  }
  .how-it-works .traction-info img {
    transform: translate(60%, 60%);
  }
  /* footer */

  iframe {
    max-width: 250px;
    max-height: 400px;
  }
}

@media (max-width: 330px) {
  .hero {
    max-height: 70vh;
    padding-bottom: 200px;
    background-position-y: 100%;
  }
  .hero-container h1 {
    font-size: 2.5rem;
    padding-left: 30px;
  }
  /* how it works */
  .how-it-works {
    display: none;
  }
  .how-it-works-md {
    display: block;
    max-width: 330px;
  }
  .how-it-works-md img {
    width: 100%;
  }
  iframe {
    max-width: 200px;
    max-height: 300px;
  }
}
